.pokemons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    margin: 0;
    list-style: none;
}

normal #a6a877
grass #77c850
fire #ee7f30
water #678fee
electric #f7cf2e
ice #98d5d7
ground #dfbf69
flying #a98ff0
poison #a040a0
fighting #bf3029
psychic #f65687
dark #725847
rock #b8a137
bug #a8b720
ghost #6e5896
steel #b9b7cf
dragon #6f38f6
fairy #f9aec7

.pokemon {    
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #49d0b0;
}

.pokemon .number {
    color: #000;
    opacity: 0.3;
    text-align: right;
    font-size: 0.625rem;
}

.pokemon .name {
    color: #fff;
    margin-bottom: 0.25rem;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    background-color: #61e1ca;
    color: #fff;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem 0;
    font-size: 0.625rem;
    border-radius: 1rem;
}


.pokemon .detail img{
    max-width: 100%;
    height: 70px;
}

@media screen and (min-width: 380px) {
    .content {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}